apiVersion: apps/v1
kind: Deployment
metadata:
  name: &name lidarr
  labels: &labels
    app.kubernetes.io/name: *name
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels: *labels
  template:
    metadata:
      labels: *labels
    spec:
      initContainers:
        - name: init-permission
          image: busybox:1.35.0
          imagePullPolicy: IfNotPresent
          command:
            - sh
            - -c
            - chown -R 568:568 /music
            - chown -R 568:568 /downloads
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: lidarr-media
              mountPath: /music
            - name: lidarr-downloads
              mountPath: /downloads
      containers:
        - name: *name
          image: ghcr.io/k8s-at-home/lidarr:v1.0.2.2592
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 50m
              memory: 250Mi
          ports:
            - name: &port http
              protocol: TCP
              containerPort: 8686
          volumeMounts:
            - name: lidarr-config
              mountPath: /config
            - name: lidarr-media
              mountPath: /music
              subPath: Music
            - name: lidarr-downloads
              mountPath: /downloads
          livenessProbe:
            tcpSocket:
              port: *port
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 15
          readinessProbe:
            tcpSocket:
              port: *port
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 15
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
      volumes:
        - name: lidarr-config
          persistentVolumeClaim:
            claimName: lidarr-config
        - name: lidarr-media
          persistentVolumeClaim:
            claimName: shared-media
        - name: lidarr-downloads
          persistentVolumeClaim:
            claimName: shared-downloads
