use_sops() {
  local path=${1}
  eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
  watch_file "$path"
}

if has nix; then
  use flake
fi

if has sops; then
  use sops ./flyctl-secret.sops.yaml
fi
