apiVersion: apps/v1
kind: Deployment
metadata:
  name: &name homeassistant
  labels: &labels
    app.kubernetes.io/name: *name
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels: *labels
  template:
    metadata:
      labels: *labels
    spec:
      containers:
        - name: *name
          image: ghcr.io/onedr0p/home-assistant:2022.7.3
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 50m
              memory: 250Mi
          ports:
            - name: &port http
              protocol: TCP
              containerPort: 8123
          volumeMounts:
            - name: homeassistant-configs
              mountPath: /config
          startupProbe:
            tcpSocket:
              port: *port
            initialDelaySeconds: 0
            timeoutSeconds: 1
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 30
          livenessProbe:
            tcpSocket:
              port: *port
            initialDelaySeconds: 0
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 30
          readinessProbe:
            tcpSocket:
              port: *port
            initialDelaySeconds: 0
            timeoutSeconds: 3
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 30
          envFrom:
            - secretRef:
                name: homeassistant-secrets
          env:
            - name: postgresql_uri
              valueFrom:
                secretKeyRef:
                  name: pgo-cluster-pguser-homeassistant
                  key: uri
      dnsPolicy: ClusterFirst
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
      volumes:
        - name: homeassistant-configs
          persistentVolumeClaim:
            claimName: homeassistant-config
