---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - pairs:
      app.kubernetes.io/name: immich-server
      app.kubernetes.io/instance: immich-server
      app.kubernetes.io/part-of: immich
resources:
  - ./helmrelease.yaml
