---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 61.9.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 5
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 5
  values:
    prometheus:
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.244.0.0/16,10.10.0.0/24,192.168.50.0/24,192.168.10.0/24,192.168.200.0/24
        pathType: Prefix
        hosts:
          - &host prom.${SECRET_DOMAIN_0}
        tls:
          - hosts:
              - *host
            secretName: ${SECRET_DOMAIN_0//./-}-prod-tls
      prometheusSpec:
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        additionalScrapeConfigs:
          - job_name: external-node-exporter
            scrape_interval: 1m
            scrape_timeout: 10s
            honor_timestamps: true
            static_configs:
              - targets:
                  - ${CONFIG_VYOS_IP_ADDRESS}:9100
                  - ${CONFIG_NFS_SERVER_IP_ADDRESS}:9100
          - job_name: external-smartctl-exporter
            scrape_interval: 1m
            scrape_timeout: 10s
            honor_timestamps: true
            static_configs:
              - targets:
                  - ${CONFIG_NFS_SERVER_IP_ADDRESS}:9633
                  - 192.168.50.49:9633
    alertmanager:
      config:
        global:
          resolve_timeout: 5m
        inhibit_rules:
          - equal:
              - namespace
              - alertname
            source_match:
              severity: critical
            target_match_re:
              severity: warning|info
          - equal:
              - namespace
              - alertname
            source_match:
              severity: warning
            target_match_re:
              severity: info
        receivers:
          - name: "null"
          - name: discord
            discord_configs:
              - webhook_url: ${SECRET_DISCORD_PROMETHEUS_WH_URL}
                title: |-
                  [{{ .Status | toUpper }}:{{ if eq .Status "firing" }}{{ .Alerts.Firing | len }}{{ else }}{{ .Alerts.Resolved | len }}{{ end }}]
                message: |-
                  {{- range .Alerts }}
                    **{{ .Labels.alertname }} {{ if ne .Labels.severity "" }}({{ .Labels.severity | title }}){{ end }} **
                    {{- if ne .Annotations.description "" }}
                      **Description:** {{ .Annotations.description }}
                    {{- else if ne .Annotations.summary "" }}
                      **Summary:** {{ .Annotations.summary }}
                    {{- else if ne .Annotations.message "" }}
                      **Message:** {{ .Annotations.message }}
                    {{- else }}
                      **Description:** N/A
                    {{- end }}
                  {{- end }}
        route:
          group_by:
            - alertname
          group_interval: 5m
          group_wait: 30s
          receiver: discord
          repeat_interval: 12h
          routes:
            - match:
                alertname: Watchdog
              receiver: "null"
            - match:
                severity: critical
              receiver: discord
            - match:
                alertname: CephNodeNetworkPacketDrops
              receiver: "null"
            - match:
                alertname: InfoInhibitor
              receiver: "null"
    alertmanagerSpec:
      replicas: 1
    grafana:
      enabled: false
      forceDeployDashboards: true
      sidecar:
        dashboards:
          annotations:
            grafana_folder: Kubernetes
    serviceMonitor:
      scrapeTimeout: 60s
    kubeControllerManager:
      enabled: true
      endpoints:
        - 192.168.200.21
        - 192.168.200.22
        - 192.168.200.23
    kubeScheduler:
      enabled: true
      endpoints:
        - 192.168.200.21
        - 192.168.200.22
        - 192.168.200.23
    kubeProxy:
      enabled: false
