---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./cert-manager/kustomization-fluxCRD.yaml
  - ./certificates/kustomization-fluxCRD.yaml
  - ./external/kustomization-fluxCRD.yaml
  - ./ingresses/kustomization-fluxCRD.yaml
  - ./metallb/kustomization-fluxCRD.yaml
  - ./omada-controller/kustomization-fluxCRD.yaml
  - ./traefik/kustomization-fluxCRD.yaml
