---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app grafana
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 6.58.9
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    nameOverride: *app
    image:
      repository: grafana/grafana
      tag: 10.0.3
    service:
      portName: http
      port: 3000
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/whitelist-source-range: |
          10.244.0.0/16,10.10.0.0/24,192.168.50.0/24,192.168.10.0/24,192.168.200.0/24
      pathType: Prefix
      hosts:
        - &host dashboard.${SECRET_DOMAIN_0}
      tls:
        - hosts:
            - *host
          secretName: ${SECRET_DOMAIN_0//./-}-prod-tls
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            isDefault: true
            url: http://kube-prometheus-stack-prometheus.monitoring-system.svc.cluster.local:9090
            access: proxy
          - name: Loki
            type: loki
            url: http://loki-gateway.monitoring-system.svc.cluster.local
            jsonData:
              maxLines: 250
    resources:
      requests:
        cpu: 10m
        memory: 94Mi
      limits:
        memory: 366Mi
    admin:
      existingSecret: grafana-secret
      userKey: gf_security_admin_user
      passwordKey: gf_security_admin_password
    sidecar:
      dashboards:
        enabled: true
        labelValue: ""
        searchNamespace: ALL
      datasources:
        enabled: true
        labelValue: ""
        searchNamespace: ALL
    plugins:
      - grafana-piechart-panel
    serviceMonitor:
      enabled: true
    rbac:
      pspEnabled: false
