apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app grafana
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 6.50.0
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    nameOverride: *app
    image:
      repository: grafana/grafana
      tag: 9.3.2
    service:
      portName: http
      port: 3000
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: Prometheus
            isDefault: true
            url: http://kube-prometheus-stack-prometheus.monitoring-system.svc.cluster.local:9090
    resources:
      requests:
        cpu: 10m
        memory: 94Mi
      limits:
        memory: 103Mi
    admin:
      existingSecret: grafana-secret
      userKey: gf_security_admin_user
      passwordKey: gf_security_admin_password
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
    plugins:
      - grafana-piechart-panel
    serviceMonitor:
      enabled: true
    rbac:
      pspEnabled: false
