---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - ./github.yaml
  - ./ingress-traefikCRD.yaml
  - ./middleware-traefikCRD.yaml
  - ./secret.sops.yaml
