clusterName: home-cluster
talosVersion: v1.2.3
kubernetesVersion: v1.25.1
endpoint: https://192.168.200.20:6443
allowSchedulingOnMasters: true
cniConfig:
  name: none
nodes:
  - hostname: kmaster1
    ipAddress: 192.168.200.21
    controlPlane: true
    installDisk: /dev/sda
    nameservers:
      - 1.1.1.1
      - 8.8.8.8
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.200.21/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.200.1
        vip:
          ip: 192.168.200.20
  - hostname: kmaster2
    ipAddress: 192.168.200.22
    controlPlane: true
    installDisk: /dev/sda
    nameservers:
      - 1.1.1.1
      - 8.8.8.8
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.200.22/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.200.1
        vip:
          ip: 192.168.200.20
    patches:
      - |-
        - op: add
          path: /machine/install/extraKernelArgs
          value:
            - nvme_core.default_ps_max_latency_us=0
  - hostname: kmaster3
    ipAddress: 192.168.200.23
    controlPlane: true
    installDisk: /dev/sda
    nameservers:
      - 1.1.1.1
      - 8.8.8.8
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.200.23/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.200.1
        vip:
          ip: 192.168.200.20
controlPlane:
  patches:
    - |-
      - op: add
        path: /machine/kubelet/extraArgs
        value:
          rotate-server-certificates: "true"
          feature-gates: CronJobTimeZone=true,GracefulNodeShutdown=true
      - op: add
        path: /cluster/controllerManager/extraArgs
        value:
          bind-address: 0.0.0.0
      - op: add
        path: /cluster/scheduler/extraArgs
        value:
          bind-address: 0.0.0.0
      - op: add
        path: /cluster/proxy/extraArgs
        value:
          bind-address: 0.0.0.0
    - |-
      machine:
        time:
          disabled: false
          servers:
            - 192.168.200.1
worker:
  patches:
    - |-
      - op: add
        path: /machine/kubelet/extraArgs
        value:
          rotate-server-certificates: "true"
          feature-gates: CronJobTimeZone=true,GracefulNodeShutdown=true
    - |-
      machine:
        time:
          disabled: false
          servers:
            - 192.168.200.1
