---
# yaml-language-server: $schema=https://www.authelia.com/schemas/latest/json-schema/configuration.json

# This is sort of a template file for Authelia configurations.
# It will be deployed as `ConfigMap` then used as template by `external-secrets` to create a `Secret`.
# `${var}` will be substituted by `fluxcd`, `\{\{.var\}\}` will be substituted by `external-secrets`.
theme: auto
server:
  address: tcp://0.0.0.0:9091
  disable_healthcheck: true
log:
  level: debug
duo_api:
  disable: false
  hostname: "{{ .DUO_API_HOSTNAME }}"
  integration_key: "{{ .DUO_API_INTEGRATION_KEY }}"
  secret_key: "{{ .DUO_API_SECRET_KEY }}"
totp:
  disable: false
webauthn:
  disable: true
storage:
  encryption_key: "{{ .STORAGE_ENCRYPTION_KEY }}"
  postgres:
    address: tcp://{{ .POSTGRES_HOST }}:{{ .POSTGRES_PORT }}
    database: '{{ .POSTGRES_DBNAME }}'
    username: '{{ .POSTGRES_USER }}'
    password: '{{ .POSTGRES_PASSWORD }}'
ntp:
  address: 192.168.200.1:123
  version: 4
  max_desync: 3s
  disable_startup_check: false
  disable_failure: false
identity_validation:
  reset_password:
    jwt_secret: "{{ .RESET_PASSWORD_JWT }}"
authentication_backend:
  password_reset:
    disable: false
  refresh_interval: 1m
  ldap:
    implementation: lldap
    address: ldap://lldap.authentication-system.svc.cluster.local:3890
    timeout: 5s
    start_tls: false
    base_dn: dc=home,dc=cluster
    user: uid=authelia_bind,ou=people,dc=home,dc=cluster
    password: "{{ .LLDAP_PASSWORD }}"
access_control:
  default_policy: deny
  networks:
    - name: internal
      networks:
        - 10.244.0.0/16
        - 10.10.10.0/24
        - 10.0.8.0/24
        - 192.168.10.0/24
        - 192.168.200.0/24
  rules:
    - domain: "*.${SECRET_DOMAIN_0}"
      policy: bypass
      networks:
        - internal
    - domain: "*.${SECRET_DOMAIN_0}"
      policy: two_factor
session:
  secret: "{{ .SESSION_SECRET }}"
  name: authelia_session
  expiration: 1h
  inactivity: 15m
  remember_me: 1M
  cookies:
    - domain: ${SECRET_DOMAIN_0}
      authelia_url: https://auth.${SECRET_DOMAIN_0}
      default_redirection_url: https://${SECRET_DOMAIN_0}
  redis:
    host: ot-standalone.default.svc.cluster.local
    password: "{{ .SESSION_REDIS_PASSWORD }}"
    port: 6379
regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m
notifier:
  disable_startup_check: false
  smtp:
    address: submission://smtp.gmail.com:587
    username: budimanjojo@gmail.com
    password: "{{ .NOTIFIER_SMTP_PASSWORD }}"
    sender: Authelia Admin <admin@budimanjojo.com>
definitions:
  user_attributes:
    is_nextcloud_admin:
      expression: '"nextcloud-admins" in groups'
identity_providers:
  oidc:
    hmac_secret: "{{ .OIDC_HMAC_SECRET }}"
    claims_policies:
      default:
        id_token:
          - rat
          - groups
          - email
          - email_verified
          - alt_emails
          - preferred_username
          - name
      nextcloud_userinfo:
        custom_claims:
          is_nextcloud_admin: {}
    scopes:
      nextcloud_userinfo:
        claims:
          - is_nextcloud_admin
    jwks:
      - key: |
          {{- .OIDC_JWKS_0_KEY | b64dec | nindent 10 }}
        certificate_chain: |
          {{- .OIDC_JWKS_0_CERT | b64dec | nindent 10 }}
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins_from_client_redirect_uris: true
    clients:
      - client_id: incus
        client_name: Incus
        public: true
        authorization_policy: two_factor
        redirect_uris:
          - https://incus.${SECRET_DOMAIN_0}/oidc/callback
        audience:
          - https://incus.${SECRET_DOMAIN_0}
        scopes:
          - openid
          - offline_access
        access_token_signed_response_alg: RS256
        userinfo_signed_response_alg: none
      - client_id: minio
        client_name: Minio
        client_secret: "{{ .OIDC_CLIENT_MINIO }}"
        public: false
        authorization_policy: two_factor
        redirect_uris:
          - https://minio.${SECRET_DOMAIN_0}/oauth_callback
        scopes:
          - openid
          - profile
          - email
          - groups
        userinfo_signed_response_alg: none
        claims_policy: default
      - client_id: nextcloud
        client_name: Nextcloud
        client_secret: "{{ .OIDC_CLIENT_NEXTCLOUD }}"
        public: false
        authorization_policy: two_factor
        require_pkce: true
        pkce_challenge_method: S256
        claims_policy: nextcloud_userinfo
        redirect_uris:
          - https://nextcloud.${SECRET_DOMAIN_0}/apps/oidc_login/oidc
        scopes:
          - openid
          - profile
          - email
          - groups
          - nextcloud_userinfo
        response_types:
          - code
        grant_types:
          - authorization_code
        access_token_signed_response_alg: none
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_basic
      - client_id: immich
        client_name: Immich
        client_secret: "{{ .OIDC_CLIENT_IMMICH }}"
        public: false
        authorization_policy: two_factor
        redirect_uris:
          - https://photos.${SECRET_DOMAIN_0}/auth/login
          - app.immich:/
        scopes:
          - openid
          - profile
          - email
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_post
