theme: auto
default_redirection_url: https://auth.${SECRET_DOMAIN_0}
server:
  host: 0.0.0.0
  port: 9091
  buffers:
    read: 4096
    write: 4096
  path: ""
log:
  level: debug
totp:
  disable: false
webauthn:
  disable: true
ntp:
  address: time.cloudflare.com:123
  version: 4
  max_desync: 3s
  disable_startup_check: false
  disable_failure: false
authentication_backend:
  password_reset:
    disable: false
  refresh_interval: 1m
  ldap:
    implementation: custom
    url: ldap://lldap.authentication-system.svc.cluster.local:3890
    timeout: 5s
    start_tls: false
    base_dn: dc=home,dc=cluster
    username_attribute: uid
    additional_users_dn: ou=people
    users_filter: "(&({username_attribute}={input})(objectClass=person))"
    additional_groups_dn: ou=groups
    groups_filter: "(member={dn})"
    group_name_attribute: cn
    mail_attribute: mail
    display_name_attribute: displayName
    user: uid=admin,ou=people,dc=home,dc=cluster
access_control:
  default_policy: deny
  networks:
    - name: internal
      networks:
        - 10.244.0.0/16
        - 10.10.0.0/24
        - 10.0.8.0/24
        - 192.168.10.0/24
        - 192.168.200.0/24
  rules:
    - domain: "*.${SECRET_DOMAIN_0}"
      policy: bypass
      networks:
        - internal
    - domain: "*.${SECRET_DOMAIN_0}"
      policy: two_factor
session:
  name: authelia_session
  expiration: 1h
  inactivity: 15m
  remember_me_duration: 1M
  domain: ${SECRET_DOMAIN_0}
  redis:
    host: redis.default.svc.cluster.local
    port: 6379
regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m
notifier:
  disable_startup_check: false
  smtp:
    host: smtp.gmail.com
    port: 587
    username: budimanjojo@gmail.com
    sender: Authelia Admin <admin@budimanjojo.com>
identity_providers:
  oidc:
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins_from_client_redirect_uris: true
    clients:
      - id: proxmox
        description: Proxmox
        secret: ${SECRET_OIDC_PROXMOX_CLIENT_SECRET}
        public: false
        authorization_policy: two_factor
        redirect_uris:
          - https://proxmox.${SECRET_DOMAIN_0}
        scopes:
          - openid
          - profile
          - email
        userinfo_signing_algorithm: none
      - id: minio
        description: Minio
        secret: ${SECRET_OIDC_MINIO_CLIENT_SECRET}
        public: false
        authorization_policy: two_factor
        redirect_uris:
          - https://minio.${SECRET_DOMAIN_0}/oauth_callback
        scopes:
          - openid
          - profile
          - email
          - groups
        userinfo_signing_algorithm: none
      - id: nextcloud
        description: Nextcloud
        secret: ${SECRET_OIDC_NEXTCLOUD_CLIENT_SECRET}
        public: false
        authorization_policy: two_factor
        redirect_uris:
          - https://nextcloud.${SECRET_DOMAIN_2}/apps/oidc_login/oidc
        scopes:
          - openid
          - profile
          - email
          - groups
        userinfo_signing_algorithm: none
      - id: immich
        description: Immich
        secret: ${SECRET_OIDC_IMMICH_CLIENT_SECRET}
        public: false
        authorization_policy: two_factor
        redirect_uris:
          - https://photos.${SECRET_DOMAIN_0}/auth/login
          - https://photos.${SECRET_DOMAIN_0}/user-settings
          - app.immich://
        scopes:
          - openid
          - profile
          - email
        userinfo_signing_algorithm: none
