---
# yaml-language-server: $schema=https://raw.githubusercontent.com/JJGadgets/flux2-schemas/main/kustomization-kustomize-v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: kube-system-intel-device-plugins-operator
  namespace: flux-system
spec:
  path: ./cluster/apps/kube-system/intel-device-plugins/operator
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  prune: true
  wait: true
  dependsOn:
    - name: networking-system-cert-manager
    - name: kube-system-node-feature-discovery

---
# yaml-language-server: $schema=https://raw.githubusercontent.com/JJGadgets/flux2-schemas/main/kustomization-kustomize-v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: kube-system-intel-device-plugins-gpu
  namespace: flux-system
spec:
  path: ./cluster/apps/kube-system/intel-device-plugins/gpu
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  prune: true
  wait: true
  dependsOn:
    - name: kube-system-intel-device-plugins-operator
