---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authentication-system
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./referencegrant.yaml
configMapGenerator:
  - name: authelia-config-tpl
    files:
      - ./config/configuration-tpl.yaml
generatorOptions:
  disableNameSuffixHash: true
