---
name: Flux Local

on:
  pull_request:
    branches: ['*']
    paths: ['cluster/**.yaml']

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  filter:
    name: Flux Local - Filter
    runs-on: ubuntu-latest
    outputs:
      changed-files: ${{ steps.changed-files.outputs.changed_files }}
    steps:
      - name: Get changed files
        id: changed-files
        # yamllint disable-line rule:comments
        uses: bjw-s-labs/action-changed-files@1a5aeab1bfa64d0c4e786f501d5a3f1fad4a24da # v0.4.1

  test:
    name: Flux Local - Test
    if: ${{ needs.filter.outputs.changed-files != '[]' }}
    needs: filter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # yamllint disable-line rule:comments
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Run flux-local test
        uses: docker://ghcr.io/allenporter/flux-local:v7.11.0
        with:
          args: >-
            test
            --all-namespaces
            --enable-helm
            --path /github/workspace/cluster/base
            --verbose

  diff:
    name: FLux Local - Diff
    if: ${{ needs.filter.outputs.changed-files != '{}' }}
    needs: filter
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        resource: ["helmrelease", "kustomization"]
    steps:
      - name: Checkout Pull Request branch
        # yamllint disable-line rule:comments
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: pull
          persist-credentials: false

      - name: Checkout default branch
        # yamllint disable-line rule:comments
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: default
          persist-credentials: false
          ref: ${{ github.event.repository.default_branch }}

      - name: Run flux-local diff
        uses: docker://ghcr.io/allenporter/flux-local:v7.11.0
        with:
          args: >-
            diff ${{ matrix.resource }}
            --unified 6
            --path /github/workspace/pull/cluster/base
            --path-orig /github/workspace/default/cluster/base
            --strip-attrs "helm.sh/chart,checksum/config,app.kubernetes.io/version,chart"
            --limit-bytes 10000
            --all-namespaces
            --sources "flux-system"
            --output-file diff.patch

      - name: Generate diff
        id: diff
        run: |
          echo 'diff<<EOF' >> $GITHUB_OUTPUT
          cat diff.patch >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

      - name: Generate token
        id: generate-token
        if: ${{ steps.diff.outputs.diff != '' }}
        # yamllint disable-line rule:comments
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Add comment
        if: ${{ steps.diff.outputs.diff != '' }}
        # yamllint disable-line rule:comments
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          header: ${{ github.event.pull_request.number }}/cluster/${{ matrix.resource }}
          message: |
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```

  success:
    name: Flux Local - Success
    if: ${{ !cancelled() }}
    needs: ["test", "diff"]
    runs-on: ubuntu-latest
    steps:
      - name: Any jobs failed?
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

      - name: All jobs passed or skipped?
        if: ${{ !contains(needs.*.result, 'failure') }}
        run: echo "All jobs passed or skipped" && echo "${{ toJSON(needs.*.result) }}"
