---
name: Publish Kubernetes schemas

on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish-kubernetes-schemas.yaml

env:
  UV_SYSTEM_PYTHON: "1"

jobs:
  main:
    name: Publish Kubernetes schemas
    runs-on: arc-runner-set-home-cluster
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        # yamllint disable-line rule:comments
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install kubectl
        # yamllint disable-line rule:comments
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede # v4.0.1

      - name: Install uv
        # yamllint disable-line rule:comments
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2

      - name: Setup Python
        # yamllint disable-line rule:comments
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.14.x

      - name: Install Python dependencies
        run: uv pip install pyyaml

      - name: Run crd-extractor
        run: |
          curl -fsSL https://raw.githubusercontent.com/datreeio/CRDs-catalog/f3cdc86d7e26c959f2c366f19a29c5e5872bf9d6/Utilities/crd-extractor.sh -o crd-extractor.sh
          curl -fsSL https://raw.githubusercontent.com/datreeio/CRDs-catalog/f3cdc86d7e26c959f2c366f19a29c5e5872bf9d6/Utilities/openapi2jsonschema.py -o openapi2jsonschema.py
          chmod +x crd-extractor.sh && ./crd-extractor.sh

      - name: Setup Node
        # yamllint disable-line rule:comments
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22.x

      - name: Publish schemas
        # yamllint disable-line rule:comments
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_PAGES_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: /home/runner/.datree/crdSchemas
          command: pages deploy --project-name=kubernetes-schemas --branch main .
