---
name: Publish Kubernetes schemas

on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish-kubernetes-schemas.yaml

env:
  UV_SYSTEM_PYTHON: "1"

jobs:
  main:
    name: Publish Kubernetes schemas
    runs-on: arc-runner-set-home-cluster
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        # yamllint disable-line rule:comments
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Install kubectl
        # yamllint disable-line rule:comments
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede # v4.0.1

      - name: Install uv
        # yamllint disable-line rule:comments
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1

      - name: Setup Python
        # yamllint disable-line rule:comments
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.14.x

      - name: Install Python dependencies
        run: uv pip install pyyaml

      - name: Run crd-extractor
        run: |
          curl -fsSL https://raw.githubusercontent.com/datreeio/CRDs-catalog/f3cdc86d7e26c959f2c366f19a29c5e5872bf9d6/Utilities/crd-extractor.sh -o crd-extractor.sh
          curl -fsSL https://raw.githubusercontent.com/datreeio/CRDs-catalog/f3cdc86d7e26c959f2c366f19a29c5e5872bf9d6/Utilities/openapi2jsonschema.py -o openapi2jsonschema.py
          chmod +x crd-extractor.sh && ./crd-extractor.sh

      - name: Setup Node
        # yamllint disable-line rule:comments
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.x

      - name: Publish schemas
        # yamllint disable-line rule:comments
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_PAGES_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: /home/runner/.datree/crdSchemas
          command: pages deploy --project-name=kubernetes-schemas --branch main .
