---
name: YAML Lint

on:
  workflow_dispatch:
  push:
    branches: [ '*' ]
  pull_request:

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        fetch-depth: 1
    - name: Lint YAML
      uses: ibiqlik/action-yamllint@v3
      with:
        config_file: .yamllint.yaml
