---
name: YAML Lint

on:
  workflow_dispatch:
  push:
    branches: [ '*' ]
  pull_request:

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        fetch-depth: 1
    - name: Lint YAML
      uses: ibiqlik/action-yamllint@v3
      with:
        config_file: .yamllint.yaml
